<app-header-responsable></app-header-responsable>
<div class="container">
  <div class="card card-container">
    <h1 style="text-align: center"> Ajout d'un enseignant </h1>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Adresse Email</label>
        <input type="text" class="form-control" name="username" id="username" pattern="[^ @]*@[^ @]*" [(ngModel)]="compte.email" #username="ngModel" required />
        <div *ngIf="f.submitted && !username.valid" class="help-block">

          <div *ngIf="username.errors.required">
            Email is required.
          </div>
          <div *ngIf="username.errors.pattern">
            A valid email address is required
          </div>

        </div>
      </div>


      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !numcin.valid }">
        <label for="numcin">Numero cin</label>
        <input type="text" class="form-control" name="cin" id="cin"[(ngModel)]="enseignant.numcin" #numcin="ngModel" required minlength="8" />
        <div *ngIf="f.submitted " class="help-block">

        </div>
      </div>


      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !id.valid }">
        <label for="id">Id Enseignant</label>
        <input type="text" class="form-control" name="id" id="id"[(ngModel)]="enseignant.idEnseignant" #id="ngModel" required minlength="8" />
        <div *ngIf="f.submitted" class="help-block">

        </div>
      </div>


      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nom.valid }">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" name="nom" id="nom" [(ngModel)]="enseignant.nom" #nom="ngModel" required />
        <div *ngIf="f.submitted && !nom.valid" class="help-block">Taper un nom correct </div>
      </div>

      <span id="reauth-email" class="reauth-email"></span>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !prenom.valid }">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" name="prenom" id="prenom" [(ngModel)]="enseignant.prenom" #prenom="ngModel" required />
        <div *ngIf="f.submitted && !prenom.valid" class="help-block">Taper un prenom correct </div>
      </div>


      <div id="remember" class="checkbox">

      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ajouter</button>
      <button [routerLink]="['/login']" class="btn btn-lg btn-danger btn-block btn-cancel" type="button">Annuler</button>

    </form><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->





