<body ng-app="testApp"><div class="container" ng-controller="AppCtrl"><div class="clearfix">

  <header class="p2 bright-blue bg-blue">
    <div class="container sm-table">
      <div class="sm-table-cell py4">
        <h1 class="h0 mt0 mb0 white inline">AngularJS PDF Viewer</h1>
        <a class="h0 button dark-gray" href="//github.com/winkerVSbecks/angular-pdf-viewer" target="_blank">github</a>
      </div>
    </div>
  </header>

  <pdf-viewer
    delegate-handle="relativity-special-general-theory"
    url="pdfUrl"
    scale="1"
    show-toolbar="true"></pdf-viewer>
</div>
</div>
</body>
