.card{
  display: block;
  margin: auto;
}

h1{
  text-align: center;
  color: rgb(66,66,66);
  font-size: 70px;
}
.card-title{
  text-transform: uppercase;
}

.block {
  display: flex;
  flex-direction: column;
}
li{

  text-align: center;
  list-style-type: none;
}
h5{
  font-size: 3em;

}
.card-body{
  background-color: rgb(122,122,122);
}

a{
  color: black;
}

a:hover{
  color: green;
  text-decoration: none;

}

.container2{
  margin:  auto;
  margin-top: 5%;
  display: block;
  width: 60%;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
}
