<app-header-responsable></app-header-responsable>
<div class="container">
  <div class="card card-container">
    <h1 style="text-align: center"> Ajout d'une classe </h1>
    <form name="form" (ngSubmit)="ajouter()" #f="ngForm" novalidate>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nom.valid }">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" name="nom" id="nom"[(ngModel)]="classe.nomClasse" #nom="ngModel"  required minlength="3" />
        <div *ngIf="f.submitted " class="help-block">
          <div *ngIf="nom.errors">
            Entrez un nom.
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ajouter</button>
    </form>
  </div>
</div>
